<div class="container">
  <div class="footer__wrapper">
    <div>
      <li>
        <a routerLink="home">Pocetna</a>
      </li>
      <li>
        <a routerLink="products">produkti</a>
      </li>
      <li>
        <a routerLink="contact">Kontakt</a>
      </li>
    </div>
    <div>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </div>
    <div>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </div>
    <div>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </div>
  </div>
</div>
