<div class="container">
  <div class="hero__wrapper">
    <div class="hero-wrapper-txt">
      <h1>Ovo je imagineShop</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit error
        consectetur, ducimus laudantium similique quam? Et repellat nesciunt
        laudantium officiis?
      </p>
    </div>
  </div>

  <div class="discount__products">
    <div class="discount__products-text-wrapper">
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestiae
        sint harum, illum maxime tenetur rerum? Magni ipsum, magnam perspiciatis
        odit provident aperiam nostrum earum!
      </p>
    </div>
    <div class="discount__products-slider">
      <swiper-container
        class="mySwiper"
        pagination="true"
        navigation="true"
        space-between="30"
        slides-per-view="3"
      >
        <swiper-wrapper>
          <swiper-slide>
            <app-product-item [product]="product"></app-product-item>
          </swiper-slide>
        </swiper-wrapper>
        <swiper-pagination></swiper-pagination>
        <swiper-navigation
          prevEl=".swiper-button-prev"
          nextEl=".swiper-button-next"
        ></swiper-navigation>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </swiper-container>
    </div>
  </div>
</div>
