<div class="container">
  <div class="contact__form-wrapper">
    <div class="contact__form-text">
      <h2>Kontaktirajte nas</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, cum
        sint quia dolore impedit illo blanditiis quis incidunt sequi officia.
      </p>
    </div>
    <div class="contact__form">
      <form action="">
        <div class="name">
          <label for="name">Ime:</label>
          <input type="text" name="Ime" placeholder="ime" />
        </div>

        <div class="lastname">
          <label for="lastname">Prezime:</label>
          <input type="text" name="Prezime" placeholder="prezime" />
        </div>

        <div class="email">
          <label for="email">Email:</label>
          <input type="text" name="Email" placeholder="Email" />
        </div>

        <div class="number">
          <label for="number">broj telefona:</label>
          <input type="number" name="broj" placeholder="broj telefona" />
        </div>
        <button type="submit">Posalji</button>
      </form>
    </div>
  </div>
</div>
