<div class="container">
  <ul class="products__display">
    <li *ngFor="let product of products">
      <div
        class="product__list-item"
        [ngClass]="{ active: product.isActive }"
        (click)="toggleActive(product, $event)"
      >
        <a routerLink="/product/{{ product.id }}" class="product__item-cart">
          <img [src]="product.images[0]" alt="{{ product.name }}" />
          <p>{{ product.title }}</p>
          <p>{{ product.name }} - {{ product.price | currency }}</p>
        </a>
        <button (click)="addToCart()" class="cta" routerLink="/cart-page">
          Add to cart
        </button>
      </div>
    </li>
  </ul>
</div>
